.friendList {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0 auto;
  width: fit-content;
}
.friendItem {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
.friendAvatar {
  aspect-ratio: 1/1;
  display: block;
}
.friendName {
  font-size: 1.2rem;
  font-weight: 500;
}
.friendStatus {
  display: flex;
  align-items: center;
  gap: 6px;
  line-height: 1;
}

/* dot */
.friendStatus::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.online::before {
  background: CurrentColor;
}
.offline::before {
  background: CurrentColor;
}
.online {
  color: green;
}
.offline {
  color: red;
}
